Repository betagouv/dsfr-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, ruff-check, ruff-format

biome-check:
  name: biome check
  entry: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

feat(storybook): improved comparison screenshot with icon support
  apps/storybook/src/stories/comparison-utils.ts
Due: biome-check

chore(storybook): upgrade storybook to 10.1.10
  apps/storybook/package.json
  pnpm-lock.yaml
Due: biome-check

chore: update Storybook configuration for ESM compatibility.
  apps/storybook/.storybook/main.ts
  package.json
Due: biome-check

feat(storybook): implement bidirectional clipboard snapshot in toolbar
  apps/storybook/.storybook/manager.tsx
  apps/storybook/src/stories/comparison-utils.ts
Due: biome-check

feat: implement css extraction system and update accordion
  packages/generator/src/lit-generator.ts
  packages/generator/src/style-resolver.ts
  packages/styles/package.json
  packages/styles/src/index.ts
  packages/styles/tsconfig.json
  packages/web-components/index.html
  packages/web-components/package.json
  packages/web-components/src/components/accordion/accordion.ts
  packages/web-components/src/generated-components/dsfr-accordion.ts
  pnpm-lock.yaml
Due: biome-check

feat: apply css extraction to all manual components
  components_to_process.txt
  packages/web-components/src/components/accordion/accordion-group.ts
  packages/web-components/src/components/alert/alert.ts
  packages/web-components/src/components/badge/badge.ts
  packages/web-components/src/components/breadcrumb/breadcrumb.ts
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/generated-components/dsfr-accordion.ts
Due: biome-check

feat: complete css extraction refactor for all manual components and generator
  packages/generator/src/lit-generator.ts
  packages/styles/src/index.ts
  packages/web-components/src/components/callout/callout.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/checkbox/checkbox.ts
  packages/web-components/src/components/footer/footer.ts
  packages/web-components/src/components/header/header.ts
  packages/web-components/src/components/highlight/highlight.ts
  packages/web-components/src/components/input/input.ts
  packages/web-components/src/components/link/link.ts
  packages/web-components/src/components/modal/modal.ts
  packages/web-components/src/components/notice/notice.ts
  packages/web-components/src/components/pagination/pagination.ts
  packages/web-components/src/components/quote/quote.ts
  packages/web-components/src/components/radio/radio.ts
  packages/web-components/src/components/search/search.ts
  packages/web-components/src/components/select/select.ts
  packages/web-components/src/components/sidemenu/sidemenu.ts
  packages/web-components/src/components/skiplink/skiplink.ts
  packages/web-components/src/components/stepper/stepper.ts
  packages/web-components/src/components/summary/summary.ts
  packages/web-components/src/components/table/table.ts
  packages/web-components/src/components/tabs/tabs.ts
  packages/web-components/src/components/tag/tag.ts
  packages/web-components/src/components/tile/tile.ts
  packages/web-components/src/components/toggle/toggle.ts
  packages/web-components/src/components/tooltip/tooltip.ts
  packages/web-components/src/generated-components/dsfr-accordion.ts
Due: biome-check

fix(generator): fix broken accordion by defining missing properties and improving collapse support
  packages/generator/src/lit-generator.ts
  packages/web-components/src/generated-components/dsfr-accordion.ts
Due: biome-check

chore: remove extraneous components_to_process.txt file
  components_to_process.txt
Due: none

chore: remove test index.html file
  packages/web-components/index.html
Due: none

docs: refresh documentation to reflect WIP state and web-components focus
  CONTRIBUTING.md
  README.md
  apps/cli/README.md
  docs/cli-generator.md
  packages/web-components/README.md
Due: none

chore: remove test-lib and simplify python structure
  libs/core/README.md
  libs/core/pyproject.toml
  libs/test/moon.yml
  libs/test/package.json
  libs/test/pyproject.toml
  libs/test/src/dsfr_kit_python_test/__init__.py
  packages/styles/src/index.ts
  packages/test-lib/moon.yml
  packages/test-lib/package.json
  packages/test-lib/src/index.ts
  packages/test-lib/tsconfig.json
  packages/web-components/src/generated-components/dsfr-accordion.ts
  pnpm-lock.yaml
  tsconfig.json
  uv.lock
Due: biome-check, ruff-check, ruff-format

feat: improve component generator logic for properties, types, and basic control flow; generate badge, alert, quote, and breadcrumb
  packages/generator/src/ejs-parser.ts
  packages/generator/src/lit-generator.ts
  packages/web-components/src/generated-components/dsfr-alert.ts
  packages/web-components/src/generated-components/dsfr-badge.ts
  packages/web-components/src/generated-components/dsfr-breadcrumb.ts
  packages/web-components/src/generated-components/dsfr-quote.ts
Due: biome-check

refactor: streamline generated component styles and update rendering logic for attributes/classes
  apps/storybook/src/stories/generated/accordion.stories.ts
  packages/web-components/src/generated-components/dsfr-accordion.ts
  packages/web-components/src/generated-components/dsfr-alert.ts
  packages/web-components/src/generated-components/dsfr-badge.ts
  packages/web-components/src/generated-components/dsfr-breadcrumb.ts
  packages/web-components/src/generated-components/dsfr-quote.ts
Due: biome-check

docs: add AST extraction strategy for multi-framework generation
  docs/ast-extraction-strategy.md
Due: none

fix: externalize Lit from web-components bundle and add Vite optimization
  apps/storybook/.storybook/main.ts
  packages/styles/package.json
  packages/web-components/package.json
  packages/web-components/vite.config.ts
  pnpm-lock.yaml
Due: biome-check

refactor: implement generator plugin architecture
  apps/cli/package.json
  apps/cli/src/index.ts
  packages/generator-core/package.json
  packages/generator-core/src/cid.ts
  packages/generator-core/src/index.ts
  packages/generator-core/src/parser/ejs-parser.ts
  packages/generator-core/src/parser/template-parser.ts
  packages/generator-core/src/parser/tokenizer.ts
  packages/generator-core/src/pipeline.ts
  packages/generator-core/src/plugin.ts
  packages/generator-core/src/schema.ts
  packages/generator-core/src/source-locator.ts
  packages/generator-core/src/style-resolver.ts
  packages/generator-core/tsconfig.json
  packages/generator-lit/package.json
  packages/generator-lit/src/index.ts
  packages/generator-lit/tsconfig.json
  pnpm-lock.yaml
Due: biome-check

chore: remove legacy generator package
  apps/cli/package.json
  packages/generator/package.json
  packages/generator/src/ejs-parser.ts
  packages/generator/src/index.ts
  packages/generator/src/js-parser.ts
  packages/generator/src/lit-generator.ts
  packages/generator/src/source-locator.ts
  packages/generator/src/style-resolver.ts
  packages/generator/tsconfig.json
  pnpm-lock.yaml
Due: biome-check

refactor: final replacement of Web Component terminology with Lit
  AGENTS.md
  CONTRIBUTING.md
  apps/cli/README.md
  apps/cli/package.json
  apps/cli/src/index.ts
  apps/storybook/README.md
  apps/storybook/src/stories/Comparison.stories.ts
  apps/storybook/src/stories/comparison-utils.ts
  apps/storybook/src/stories/lit/table.stories.ts
  apps/storybook/tests/vrt-comparison.spec.ts
  apps/storybook/vrt.config.ts
  docs/ai-knowledge/dsfr/04-technical-strategy.md
  docs/cli-generator.md
  packages/lit/src/components/header/header.ts
Due: biome-check

refactor: rename Generated section to Lit (Generated) in Storybook
  apps/storybook/src/stories/Comparison.stories.ts
  apps/storybook/src/stories/generated/accordion.stories.ts
Due: biome-check

style: rename generated accordion story display name
  apps/storybook/src/stories/generated/accordion.stories.ts
Due: biome-check

style: rename generated accordion story display name to AccordionStory
  apps/storybook/src/stories/generated/accordion.stories.ts
Due: biome-check

feat(generator-core): migrate EJS parser to tree-sitter
  packages/generator-core/package.json
  packages/generator-core/src/parser/ejs-parser.ts
  packages/generator-core/src/parser/template-parser.ts
  packages/generator-core/src/parser/tokenizer.ts
  packages/generator-core/src/parser/tree-sitter-mapper.ts
  packages/generator-core/src/parser/tree-sitter-setup.ts
  packages/generator-core/test/parser.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check

feat(generator-core): implement robust stack-based EJS parsing in TreeSitterMapper
  packages/generator-core/src/parser/tree-sitter-mapper.ts
  packages/generator-core/test/parser.test.ts
Due: biome-check

feat(generator-core): integrate TreeSitterMapper into generator pipeline
  packages/generator-core/src/parser/ejs-parser.ts
  packages/generator-core/src/pipeline.ts
Due: biome-check

feat: implement mask-first strategy in TreeSitterMapper and refine HTML parsing
  packages/generator-core/src/index.ts
  packages/generator-core/src/parser/tree-sitter-mapper.ts
  packages/generator-core/src/source-locator.ts
  packages/generator-core/test/parser.test.ts
  packages/generator-lit/src/index.ts
Due: biome-check

docs: add archival notice to README
  README.md
Due: none

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|css)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
